/*  your css code here. If applicable */
.container{
	padding:10px;
	border:2px solid black;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:gray;
	border-radius:10px;
	gap:3px;
	width:15vw
	
}
.green{
	border-radius:50%;
	background-color:green;
	width:20px;
	height:20px;
}
.yellow{
	border-radius:50%;
	background-color:yellow;
	width:20px;
	height:20px;
}
.red{
	border-radius:50%;
	background-color:red;
	width:20px;
	height:20px;
}